#container {
  background-color: aquamarine;
  min-height: 50vw;

  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: 25% 75%;
  font-family: Arial, Helvetica, sans-serif;
}

.users {
  font-size: 5vw;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: justify;
  border: 1px solid rgb(182, 28, 28);
}

.message-list {
  grid-column-start: 2;
  font-size: 5vw;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid black;
}

.new-message {
  font-size: 2vw;
  grid-column-start: 2;
  grid-row-start: 2;
  border: 1px solid black;
}
